.profileDD {
   transition: 1s;
   width: 171px;
   position: absolute;
   top: 83px;
   right: 2.5%;
   /* background: rgba(f, f, f, 0.8);
   backdrop-filter: saturate(180%) blur(10px); */
   display: flex;
   flex-direction: column;
   padding: 24px;
   padding-left: 1px;
   border-radius: 7%;
   list-style: none;
   padding-bottom: 0;
   margin: 10px auto;
   background-color: rgba(255, 255, 255, 0.56);
   box-shadow: 0 0 15px 0;
   /* background: inherit; */
   backdrop-filter: blur(30px);
}

.profileDDLI {
   transition: 1s;
   height: 47px;
   padding: 0;
   padding-left: 10px;
   font-size: 1.3em;
}

.active {
   opacity: 1;
   visibility: visible;
   /* transition: opacity 0.3s ease; */
   transform: translateY(0);
   transition: 500ms ease;
}

.inactive {
   opacity: 0;
   visibility: hidden;
   /* transition: opacity 0.3s ease, visibility 0s linear 0.3s; */
   transform: translateY(-20px);
   transition: 500ms ease;
}

.image {
   height: 30px;
   width: 30px;
}

.links {
   position: relative;
   top: -4px;
   margin-left: 10px;
}

.profileDDLI:hover .links {
   transition: 0.2s;
   color: white;
}

.profileDDLI:hover svg {
   transition: 0.25s;
   fill: white;
}
